:root {
    --primary-color: #6a8eff;
    --secondary-color: #373737;
    --text-color: #373737;
    --background-color: #f4f4f4;
    --sidebar-width: 20%;
    --sidebar-collapsed-width: 0px;
}

body {
    font-family: "Arial", sans-serif;
    line-height: 1.6;
    color: var(--text-color);
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
    text-align: center;
}

nav {
    background-color: var(--secondary-color);
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: var(--primary-color);
}

main {
    margin: 5rem auto 2rem;
    padding: 0 1rem;
    margin-left: 0px;
}

h1,
h2,
h3 {
    color: var(--secondary-color);
    text-align: center;
}

.effortless {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 2rem;
}

.effortless i {
    color: var(--primary-color);
}

a {
    color: var(--primary-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.banner-logo {
    width: 80vw;
    height: auto;
    padding: 0px;
    margin: 0px;
}
#sidebarToggle {
    background: none;
    border: none;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    transition: transform 0.3s ease;
    z-index: 1001;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

#sidebarToggle.open {
    transform: rotate(90deg);
}

#sidebar {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: var(--sidebar-width);
    background-color: var(--text-color);
    color: var(--background-color);
    padding: 1rem;
    padding-top: 5rem;
    overflow-y: auto;
    transition: all 0.3s ease;
    z-index: 999;
}

#sidebar.collapsed {
    width: var(--sidebar-collapsed-width);
    padding: 0;
}

#sidebar.collapsed h3,
#sidebar.collapsed ul {
    display: none;
}

#sidebar a {
    color: var(--background-color);
}

main {
    padding: 1rem;
}

@media (max-width: 768px) {
    .mobile-only {
        display: block !important;
    }

    #sidebar {
        transform: translateX(-100%);
        width: 100%;
        padding-top: 5rem;
    }

    #sidebar.active {
        transform: translateX(0);
    }

    main {
        margin-left: 0;
    }

    body.sidebar-active main {
        pointer-events: none;
    }
}
